@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bounceup {
  0% {
    transform: translateY(0); }
  80% {
    transform: translateY(-3rem); }
  100% {
    transform: translateY(-1rem); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1;
  padding: 2.4rem;
  box-sizing: border-box; }

:root {
  --font-primary: "Annie Use Your Telescope", cursive;
  --font-secondary: "Amatic SC", cursive;
  --color-header-1: #4dabf7; }

.heading-primary {
  font-family: var(--font-primary);
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #e7e7e7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .heading-primary--first-line {
    display: inline-block;
    animation: moveinleft 1s ease-in; }
    .heading-primary--first-line > * {
      display: inline-block; }
    .heading-primary--first-line:hover > .heading-primary--first-line--color-1 {
      color: var(--color-header-1);
      animation: bounceup 0.2s ease-in;
      animation-fill-mode: forwards; }
  .heading-primary--next-line {
    text-align: center;
    display: block;
    animation: moveinright 1s ease-in; }

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  height: 85vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
