@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bounceup {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2rem) scale(1.2); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1;
  padding: 2.4rem;
  box-sizing: border-box; }

:root {
  --font-primary: "Annie Use Your Telescope", cursive;
  --font-secondary: "Amatic SC", cursive;
  --color-header-1: #74c0fc; }

.heading-primary {
  font-family: var(--font-primary);
  font-size: 6.4rem;
  font-weight: 700;
  color: #e7e7e7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .heading-primary__word {
    display: flex;
    gap: 0.5rem;
    transition: gap 0.3s; }
  .heading-primary__span {
    display: inline-block; }
    .heading-primary__span--color {
      color: currentColor; }
  .heading-primary:hover {
    gap: 0.6rem; }
  .heading-primary:hover .heading-primary__span--color {
    color: var(--color-header-1);
    animation: bounceup 0.5s cubic-bezier(0.77, -0.02, 0, 0.98);
    animation-fill-mode: forwards; }

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  height: 85vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
