.nav {
  &__checkbox {
    display: none;
  }

  &__background {
    height: 7rem;
    width: 7rem;
    background-image: radial-gradient(#faa2c1, #b197fc);
    border-radius: 50%;
    z-index: 1000;
    position: fixed;
    top: 6rem;
    right: 6rem;
    transition: all 800ms ease-out;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: var(--color-white);
    z-index: 9999;
    position: fixed;
    top: 6rem;
    right: 6rem;
  }

  &__icon {
    height: 2px;
    width: 50%;
    background-color: var(--color-header-grey-2);
    @include absCen;
  }

  &__icon::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--color-header-grey-2);
    position: absolute;
    top: -0.7rem;
    transition: all 0.2s;
  }
  &__icon::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--color-header-grey-2);
    position: absolute;
    top: 0.7rem;
    left: 0;
    transition: all 0.2s;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__nav {
    display: none;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }
}
