.card__select {
    background-color: var(--color-grey-2);
    padding: 20rem 8rem;
    margin-top: -15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
    row-gap: 6rem;
    column-gap: 6rem;
    justify-content: center;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;
    position: relative;
    padding: 2rem;
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__side {
        transition: all 0.8s;
        height: 50rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        border-radius: 9px;

        &--front {
            background-color: rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--back {
            transform: rotateY(180deg);
            overflow: hidden;

            &--img {
                height: 100%;
                filter: brightness(80%) blur(0.15px);
            }
        }
    }

    &:hover &__side--front {
        transform: rotate(-180deg);
        color: var(--color-grey-2);
    }

    &:hover &__side--back {
        transform: rotate(0);
    }

    &__icons {
        @include absCen;
        width: 6rem;
        height: 6rem;
        color: var(--color-white);
    }

    &__text {
        display: inline-block;
        font-weight: 700;
    }

    &__form {
        @include absCen;
        top: 70%;
        font-family: inherit;
        font-size: 4.8rem;
        font-weight: 700;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }


    &__submit {
        font-size: 3rem;
        padding: 1rem 4rem;
        border-radius: 10000px;
        border: none;
        font-family: inherit;
        box-shadow: 0 0.5rem 0.5rem #faa2c1;
        transition: transform 0.3s;
        background-color: var(--color-white);

        &:hover {
            transform: translateY(-0.5rem);
        }

        &:active {
            transform: translateY(0.1rem);
        }
    }
}