.instructions {
  padding: 15rem 0;
  margin-top: -10rem;
  text-align: center;
  background-color: var(--color-grey-2);

  &__list {
    list-style: none;
    font-size: 6rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: center;
    row-gap: 6rem;
    column-gap: 9.6rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__text {
    display: inline-block;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: yellow;
    transition: all 0.5s;
  }

  &__item:hover &__icon {
    transform: rotate(360deg) scale(1.4);
  }
}
