@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2rem) scale(1.2);
  }
}
