@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceup {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
