.heading-primary {
  font-family: var(--font-primary);
  font-size: 6.4rem;
  font-weight: 700;
  color: #e7e7e7;
  @include absCen;

  &__word {
    display: flex;
    gap: 0.5rem;
    transition: gap 0.3s;
  }

  &__span {
    display: inline-block;
    &--color {
      color: currentColor;
    }
  }

  &:hover {
    gap: 0.6rem;
  }

  &:hover &__span--color {
    color: var(--color-header-1);
    animation: bounceup 0.5s cubic-bezier(0.77, -0.02, 0, 0.98);
    animation-fill-mode: forwards;
  }
}
